{% extends 'base.html' %} {% block title %} List {% endblock title %} {% block
body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="pull-right" id="navbarSupportedContent">
      <button class="btn btn-outline-success" type="submit" id="logout">
        Logout
      </button>
    </div>
  </div>
</nav>

<div class="container d-flex justify-content-center mt-1">
  <div class="w-50 border p-5 mt-5 shadow bg-body-tertiary rounded">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-danger" role="alert">
      {% for message in messages %}
      <span class="d-block">{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <h5 class="text-center mb-3">
      {% if update_todo %} Update Todos {% else %} Add Todos {% endif %}
    </h5>

    <form method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        {% if update_todo %}
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          value="{{update_todo['title']}}"
        />
        {% else %}
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        />
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        {% if update_todo %}
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          required
          value="{{update_todo['description']}}"
        />
        {% else %}
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          required
        />
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary mt-1">
        {% if update_todo %} Update {% else %} Add {% endif %}
      </button>
      {% if update_todo %}
      <div class="mt-3">
        <a href="/todos" class="pt-2"><< Go Back</a>
      </div>
      {% endif %}
    </form>
  </div>
</div>

<div class="container mt-3">
  {% if update_todo is undefined %}
  <h5 class="pt-5 mt-5">My Todos</h5>
  {% endif %}

  <!-- line break -->
  {% if todos %}
  <div class="w-100 border shadow bg-body-tertiary rounded">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Created At</th>
          <th scope="col">Completed At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        <tr>
          <td>{{todo['title']}}</td>
          <td>{{todo['description']}}</td>
          <td>{{todo['created']}}</td>
          <td>{{todo['completed']}}</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                type="button"
                class="btn btn-danger todo-delete-button"
                style="border-radius: unset"
                delete-id="{{todo['id']}}"
              >
                Delete
              </button>

              <a href="/todos/update/{{todo['id']}}">
                <button
                  type="button"
                  class="btn btn-warning"
                  style="border-radius: 0"
                >
                  Update
                </button>
              </a>

              <a href="/todos/complete/{{todo['id']}}">
                <button
                  type="button"
                  class="btn btn-success"
                  style="border-radius: unset"
                >
                  Complete
                </button>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="delete-modal"
    tabindex="-1"
    aria-labelledby="delete-modal-label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="delete-modal-label">Delete</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Are you sure to delete the selected todo?</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <a href="#" id="todo-id-to-delete">
            <button
              type="button"
              class="btn btn-danger"
              onclick="proceedToDelete()"
            >
              Yes! Delete
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <!-- only show if update_todo is undefined -->
  {% if update_todo is undefined %}
  <div class="w-100 rounded">
    <div class="alert alert-secondary" role="alert">
      No todos yet. Please add your todos!
    </div>
  </div>
  {% endif %}

  <!-- line break -->
  {% endif %}
</div>
{% endblock body %}

<!-- line break -->
{% block script %}
<script>
  $(document).ready(function () {
    $(".todo-delete-button").click(function () {
      $("#delete-modal").modal("show");
      $("#todo-id-to-delete").attr(
        "href",
        "/todos/delete/" + $(this).attr("delete-id")
      );
    });

    $("#logout").click(function () {
      document.cookie =
        "auth_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      location.reload();
    });
  });
</script>
{% endblock script %}
